

<h3>Here is your order confirmation</h3> <br />

<%= carts = CartedProduct.where(order_id: @order.id, user_id: current_user.id, status:"purchased") %>

<% carts.each do |cart| %>
  <h3><%= cart.product.name %></h3>
  <h3>Your quantity is: <%= cart.quantity %></h3>
<% end %>

<h3>Your order ID is: <%= @order.id %></h3>
<h3>Your subtotal is: $<%= @order.subtotal %> </h3>
<h3>Your taxes are: $<%= @order.tax %> </h3>
<h3>Your total is: $<%= @order.total %></h3>
<%= link_to "Back to Main Page", "/products" %>
