<h3> This is the checkout page </h3>

<h3><%= carted_product.quantity %></h3>
<h3><%= carted_product.user_id %></h3>
<h3><%= carted_product.product_id %></h3>
<h3><%= carted_product.status %></h3>
<h4><%= submit_tag "Buy Now" %>
